.image{
    height: 200px;
    width: auto;
    align-items: center;
    justify-content: center;
    border:2px solid #8D0056;
}

.Slider{
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.card-carousel{
    align-items: center;
    justify-content: center;
}

.card {
    border: '1px solid #ddd';
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.name:hover{
    color: #8D0056;
}